/* Estilização Slides */

:root {
    --backgroundStart: url(./themes/day/day1.jpg);
    --backgroundEnd: url(./themes/day/day2.jpg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#index {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.slide {
    z-index: -1;
    position: fixed;
    top: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    animation: slide 5s;
}

@keyframes slide {
    from{
        background-image: var(--backgroundStart);
    }
    to{
        background-image: var(--backgroundEnd);
    }
}

/* Estilização Index*/

 @media screen and (max-width: 576px){

    /* Estilização controle do tema*/

    #themeControl {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #themeControl > #themeButtons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    #themeControl > #buttonPlay {
        display: flex;
        background-image: url(./assets/play.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        height: 100%;
        margin-left: 5px;
        aspect-ratio: 1 / 1;
    }

    #themeControl > #themeButtons > .themeButton {
        margin-bottom: 2px;
    }

    #buttonNewMessage {
        width: calc(50% + 95px);
        height: 50px;
    }

    /* Accordions */

    .accordions {
        display: flex;
        flex-direction: column;
        background-color: silver;
        padding: 0 2% 2% 2%;
        border-radius: 16px;
        width: 90%;
        max-width: 450px;
    }

    .accordions > h2 {
        z-index: 1;
        display: flex;
        position: sticky;
        justify-content: center;
        margin: 0;
        width: 100%;
        top: 0;
        background-color: silver;
    }
    
    .formAccordion {
        display: flex;
        flex-direction: column;
    }
    
    .accordionItem {
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .accordionItem:hover {
        opacity: 0.9;
    }
    
    .accordionHeader {
        padding: .1em;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }
    
    .accordionContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        height: 0;
        font-size: 1.25em;
        transition: all .5s ease;
    }
    
    .accordionActive {
        padding-bottom: 10px;
    }
    
    .accordionHeader > span, .icon {
        font-weight: 600;
    }
    
    .accordionContent > p {
        text-align: justify;
    }

    /* Accordions Forms de Usuário */

    #accordionUserForms {
        height: min-content;
        margin-top: calc(60vh/4);
    }

    .formInput {
        width: calc(100% - 10px);
        margin-bottom: 5px;
    }

    #buttonLogin, #buttonRegister {
        width: calc(100% - 10px);
    }

    /* Accordions lista de mensagem*/

    #messageList {
        height: min-content;
        max-height: 60vh;
        margin-top: 30px;
        overflow-y: scroll;
    }
 }